body {
	padding: 0;
	margin: 0;
	border: 0;
}

#outerMessageArea {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(120, 120, 120, 0.6);
}

#jetpackGnome {
	position: absolute;
	top: 150px;
	left: 150px;
}

#innerMessageArea {
	position: absolute;
	top: 220px;
	left: 350px;
	transform: translate(0, -50%);
	background-color: white;
	padding: 30px;
	border-radius: 30px;
}

#gnomeCodeButtons {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 74px;
}

#gnomeCodeEditor {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

#codeEditorLabel {
	color: #ff5555;
	font-size: 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 5px;
}

#innerCodeEditor {
	border: solid 4px #ff5555;
	border-radius: 5px;
	background: white;
	min-width: 500px;
	min-height: 88px;
}

.commandButton {
	display: inline-block;
	cursor: pointer;
	width: 74px;
	height: 74px;
	background: none;
	border: none;
	margin: 5px;
}

.commandMoveForward {
	background: url("../assets/images/control_forward.png");
}

.commandTurnLeft {
	background: url("../assets/images/control_left.png");
}

.commandTurnRight {
	background: url("../assets/images/control_right.png");
}

.commandPerformAction {
	background: url("../assets/images/control_action.png");
}

.sortable-ghost {
	visibility: hidden;
}
