body {
	padding: 0;
	margin: 0;
	border: 0;
}

#outerMessageArea {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

#jetpackGnome {
	position: absolute;
	top: 150px;
	left: 150px;
}

#innerMessageArea {
	position: absolute;
	top: 220px;
	left: 350px;
	transform: translate(0, -50%);
	background-color: white;
	padding: 30px;
	border-radius: 30px;
}
